
		<h2 class="content-heading">العملاء</h2>
		
		<div class="block">
            <div class="block-header block-header-default">
                <h3 class="block-title"><a class="btn btn-primary" href="/addCustomer" >اضافة عميل</a></h3>
				<button class="btn btn-danger" onclick="exportTableToExcel('mytable', 'members-data.xlsx')" >تحميل قائمة العملاء</button>
            </div>
		</div>
		
        

            
        <table class="table table-bordered table-hover table-striped text-center">
            <thead>
                <tr>
                    <th>اسم العميل</th>
                    <th>بريد العميل</th>
 <th> سجل من خلال</th>
                    <th>الاجرائات</th>
                </tr>
            </thead>
            <tbody>
                <% for(var customer in customers){ %>
                <tr>
                    <td>
                        <%= customers[customer].customerName %>
                    </td>

                    <td>
                        <%= customers[customer].customerEmail %>
                    </td>
                     <td>
                        <%= customers[customer].customerRegisteredBy %>
                    </td>
                    <td>
                        <a href="/editCustomer/<%= customer %>" class="btn btn-primary">تعديل</a>

                        <a href="/removeCustomer/<%= customer %>" class="btn btn-danger">مسح</a>
                    </td>
                </tr>

                <% } %>
            </tbody>
        </table>
        <table id="mytable" charset="UTF-8">
          <tbody style="display:none">
            <tr>
                    <td>
                        اسم المسئول
                    </td>
                     <td>
                        وظيفة المسئول
                    </td>

                    <td>
                        بريد المسئول الالكترونى
                    </td>
                     <td>
                        رقم هاتف المسئول
                    </td>
                     <td>
                        اسم المندوب
                    </td>
                     <td>
                        هاتف الشركة
                    </td>
                     <td>
                       عنوان الشركة
                    </td>
                     <td>
                        نشاط الشركة
                    </td>
                    
                </tr>
          <% for(var customer in customers){ %>
                <tr>
                    <td>
                        <%= customers[customer].customerName %>
                    </td>
                     <td>
                        <%= customers[customer].customerJob %>
                    </td>

                    <td>
                        <%= customers[customer].customerEmail %>
                    </td>
                     <td>
                        <%= customers[customer].customerPhone %>
                    </td>
                     <td>
                        <%= customers[customer].customerRegisteredBy %>
                    </td>
                     <td>
                        <%= customers[customer].companyPhone %>
                    </td>
                     <td>
                        <%= customers[customer].companyAddress %>
                    </td>
                     <td>
                        <%= customers[customer].companyJob %>
                    </td>
                    
                </tr>

                <% } %>
          </tbody>
        </table>
    </div>
</div>
<script charset="UTF-8">
    function exportTableToExcel(tableID, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet';
    var tableSelect = document.getElementById(tableID);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
    
    // Specify file name
    filename = filename?filename+'.xlsx':'excel_data.xlsx ';
    
    // Create download link element
    downloadLink = document.createElement("a");
    
    document.body.appendChild(downloadLink);
    
    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\efbbbf', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
    
        // Setting the file name
        downloadLink.download = filename;
        
        //triggering the function
        downloadLink.click();
    }
}

</script>

</body>