<div class="bg-white">
  <!-- Breadcrumb -->
  <div class="content">
    <nav class="breadcrumb mb-0">
      <a class="breadcrumb-item" href="javascript:void(0)">الرئيسية</a>
      <span class="breadcrumb-item active">لوحة التحكم</span>
    </nav>
  </div>
  <!-- END Breadcrumb -->

  <div class="row gutters-tiny invisible" data-toggle="appear">
    <!-- Row #1 -->
    <div class="col-md-4">
      <div
        class="block block-transparent bg-primary-dark d-flex align-items-center w-100"
      >
        <div class="block-content block-content-full">
          <div class="py-15 px-20 clearfix border-black-op-b">
            <div class="float-right mt-15 d-none d-sm-block">
              <i class="si si-users fa-2x text-success"></i>
            </div>
            <div
              class="font-size-h3 font-w600 text-success"
              data-toggle="countTo"
              data-speed="1000"
              data-to="750"
            >
              0
            </div>
            <div
              class="font-size-sm font-w600 text-uppercase text-success-light"
            >
              عميل جديد
            </div>
          </div>
          <div class="py-15 px-20 clearfix border-black-op-b">
            <div class="float-right mt-15 d-none d-sm-block">
              <i class="si si-wallet fa-2x text-danger"></i>
            </div>
            <div
              class="font-size-h3 font-w600 text-danger"
              data-toggle="countTo"
              data-speed="1000"
              data-to="980"
            >
              0
            </div>
            <div
              class="font-size-sm font-w600 text-uppercase text-danger-light"
            >
              طلب دعم / عميل
            </div>
          </div>
          <div class="py-15 px-20 clearfix border-black-op-b">
            <div class="float-right mt-15 d-none d-sm-block">
              <i class="si si-envelope-open fa-2x text-warning"></i>
            </div>
            <div
              class="font-size-h3 font-w600 text-warning"
              data-toggle="countTo"
              data-speed="1000"
              data-to="38"
            >
              0
            </div>
            <div
              class="font-size-sm font-w600 text-uppercase text-warning-light"
            >
              طلب دعم / مندوب
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="block block-transparent bg-info">
        <div class="block-content block-content-full">
          <div class="py-20 text-center">
            <div class="mb-20">
              <i class="fa fa-money fa-4x text-info-light"></i>
            </div>
            <div class="font-size-h4 font-w600 text-white">خطط الاشتراك</div>
            <div class="text-white-op">تعديل / اضافة خطة اشتراك</div>
            <div class="pt-20">
              <a class="btn btn-rounded btn-alt-info" href="/contracts">
                <i class="fa fa-suitcase mr-5"></i> اذهب الان
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="block block-transparent bg-success">
        <div class="block-content block-content-full">
          <div class="py-20 text-center">
            <div class="mb-20">
              <i class="fa fa-life-ring fa-4x text-success-light"></i>
            </div>
            <div class="font-size-h4 font-w600 text-white">خطط الدعم</div>
            <div class="text-white-op">تعديل / اضافة خطة دعم</div>
            <div class="pt-20">
              <a class="btn btn-rounded btn-alt-success" href="/supports">
                <i class="fa fa-users mr-5"></i> اذهب الان
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Row 1 -->
  <!-- Row 2 -->
  <div class="row gutters-tiny invisible" data-toggle="appear">
    <div class="col-6 col-md-4 col-xl-2">
      <a class="block text-center" href="/orders/">
        <div
          class="block-content ribbon ribbon-bookmark ribbon-crystal ribbon-left bg-gd-dusk"
        >
          <p class="mt-5">
            <i class="si si-book-open fa-3x text-white-op"></i>
          </p>
          <p class="font-w600 text-white">طلبات المندوبين</p>
        </div>
      </a>
    </div>
    <div class="col-6 col-md-4 col-xl-2">
      <a class="block text-center" href="/Requests/">
        <div class="block-content bg-gd-primary">
          <p class="mt-5">
            <i class="si si-plus fa-3x text-white-op"></i>
          </p>
          <p class="font-w600 text-white">طلبات العملاء</p>
        </div>
      </a>
    </div>
    <div class="col-6 col-md-4 col-xl-2">
      <a class="block text-center" href="/salemen/">
        <div
          class="block-content ribbon ribbon-bookmark ribbon-crystal ribbon-left bg-gd-sea"
        >
          <p class="mt-5">
            <i class="si si-bubbles fa-3x text-white-op"></i>
          </p>
          <p class="font-w600 text-white">المندوبين</p>
        </div>
      </a>
    </div>
    <div class="col-6 col-md-4 col-xl-2">
      <a class="block text-center" href="/customers/">
        <div class="block-content bg-gd-lake">
          <p class="mt-5">
            <i class="si si-users fa-3x text-white-op"></i>
          </p>
          <p class="font-w600 text-white">العملاء</p>
        </div>
      </a>
    </div>
    <div class="col-6 col-md-4 col-xl-2">
      <a class="block text-center" href="/statics/">
        <div class="block-content bg-gd-emerald">
          <p class="mt-5">
            <i class="si si-bar-chart fa-3x text-white-op"></i>
          </p>
          <p class="font-w600 text-white">الاحصائيات</p>
        </div>
      </a>
    </div>
    <div class="col-6 col-md-4 col-xl-2">
      <a class="block text-center" href="/notifications/">
        <div class="block-content bg-gd-corporate">
          <p class="mt-5">
            <i class="si si-settings fa-3x text-white-op"></i>
          </p>
          <p class="font-w600 text-white">الاشعارات</p>
        </div>
      </a>
    </div>
    <!-- END Row #2 -->
  </div>
  <div class="row row-deck gutters-tiny invisible" data-toggle="appear">
    <!-- Row #3 -->
    <div class="col-xl-4">
      <a
        class="block block-transparent bg-image d-flex align-items-stretch"
        href="javascript:void(0)"
        style="background-image: url('media/photos/photo24@2x.jpg');"
      >
        <div class="block-content block-sticky-options pt-100 bg-black-op">
          <div class="block-options block-options-left text-white">
            <div class="block-options-item">
              <i class="si si-book-open text-white-op"></i>
            </div>
          </div>
          <h2 class="h3 font-w700 text-white mb-5">استخراج طلبات المندوبين</h2>
          <h3 class="h5 text-white-op">
            اضغط هنا لأستخراج ملف اكسيل بة بيانات طلبات دعم المندوبين
          </h3>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-xl-4">
      <a
        class="block block-transparent bg-image d-flex align-items-stretch"
        href="javascript:void(0)"
        style="background-image: url('media/photos/photo32@2x.jpg');"
      >
        <div
          class="block-content block-sticky-options pt-100 bg-primary-dark-op"
        >
          <div class="block-options block-options-left text-white">
            <div class="block-options-item">
              <i class="si si-book-open text-white-op"></i>
            </div>
          </div>
          <h2 class="h3 font-w700 text-white mb-5">استخراج طلبات العملاء</h2>
          <h3 class="h5 text-white-op">
            اضغط هنا لأستخراج ملف اكسيل بة بيانات طلبات دعم العملاء
          </h3>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-xl-4">
      <a
        class="block block-transparent bg-image d-flex align-items-stretch"
        href="javascript:void(0)"
        style="background-image: url('media/photos/photo10@2x.jpg');"
      >
        <div class="block-content block-sticky-options pt-100 bg-primary-op">
          <div class="block-options block-options-left text-white">
            <div class="block-options-item">
              <i class="si si-book-open text-white-op"></i>
            </div>
          </div>
          <h2 class="h3 font-w700 text-white mb-5">استخراج داتا العملاء</h2>
          <h3 class="h5 text-white-op">
            اضغط هنا لأستخراج ملف اكسيل بة بيانات العملاء
          </h3>
        </div>
      </a>
    </div>
    <!-- END Row #3 -->
  </div>

  <!-- Content -->
  <div class="content">
    <!-- More Data -->
    <div class="row">
      <!-- Latest Orders -->
      <div class="col-xl-6">
        <div class="block block-rounded block-bordered">
          <div class="block-header">
            <h3 class="block-title text-uppercase">احدث العملاء</h3>
            <div class="block-options">
              <button
                type="button"
                class="btn-block-option"
                data-toggle="block-option"
                data-action="state_toggle"
                data-action-mode="demo"
              >
                <i class="si si-refresh"></i>
              </button>
            </div>
          </div>
          <div class="block-content p-5">
            <table class="table table-borderless table-striped mb-0">
              <thead class="thead-light">
                <tr>
                  <th>اسم العميل</th>
                  <th>اسم الشركة</th>

                  <th class="text-right">المندوب المسئول</th>
                </tr>
              </thead>

              <tbody>
                <% for(var customer in customers){ %>
                <tr>
                  <td>
                    <%= customers[customer].customerName %>
                  </td>

                  <td>
                    <%= customers[customer].customerCompany %>
                  </td>
                  <td>
                    <%= customers[customer].customerRegisteredBy %>
                  </td>
                </tr>

                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- END Latest Orders -->

      <!-- Top Products -->
      <div class="col-xl-6">
        <div class="block block-rounded block-bordered">
          <div class="block-header">
            <h3 class="block-title text-uppercase">طلبات العملاء الجديدة</h3>
            <div class="block-options">
              <button
                type="button"
                class="btn-block-option"
                data-toggle="block-option"
                data-action="state_toggle"
                data-action-mode="demo"
              >
                <i class="si si-refresh"></i>
              </button>
            </div>
          </div>
          <div class="block-content p-5">
            <table class="table table-borderless table-striped mb-0">
              <thead class="thead-light">
                <tr>
                  <th class="d-none d-sm-table-cell">اسم الطالب</th>
                  <th>نوع التعاقد</th>
                  <th class="text-center">حالة الطلبية</th>
                  <th class="text-center">رؤية الطلب</th>
                </tr>
              </thead>
              <tbody>
                <% for(let order in orders){ %>
                <div></div>
                <%if (orders[order]['orderStatus']=='تم رفض الطلب'){%>
                <tr style="background-color: rgba(255, 0, 0, 0.2);">
                  <td>
                    <%= orders[order]['companyName'] %>
                  </td>
                  <td></td>

                  <td>
                    <%= orders[order]['orderStatus']%>
                  </td>
                  <td>
                    <a href="/order/<%= order %>" class="btn btn-primary"
                      >عرض</a
                    >
                  </td>
                </tr>

                <%}else if (orders[order]['orderStatus']=='تم الدعم المطلوب'){%>
                <tr style="background-color: rgba(114, 255, 95, 0.2);">
                  <td>
                    <%= orders[order]['companyName'] %>
                  </td>
                  <td>
                    <%= orders[order]['contractType'] %>
                  </td>

                  <td>
                    <%= orders[order]['orderStatus']%>
                  </td>
                  <td>
                    <a href="/order/<%= order %>" class="btn btn-primary"
                      >عرض</a
                    >
                  </td>
                </tr>
                <%}else{%>
                <tr>
                  <td>
                    <%= orders[order]['companyName'] %>
                  </td>
                  <td>
                    <%= orders[order]['contractType'] %>
                  </td>

                  <td></td>
                  <td>
                    <a href="/order/<%= order %>" class="btn btn-primary"
                      >عرض</a
                    >
                  </td>
                </tr>
                <%}%><%}%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- END Top Products -->
    </div>
    <!-- END More Data -->
  </div>
  <!-- END Content -->
</div>
<!-- END Page Content -->
