<!-- Table Head Default -->
<h2 class="content-heading">طلبات العملاء</h2>
<div class="block">
  <div class="block-content">
    <table class="table table-vcenter">
      <thead class="thead-light">
        <tr>
          <th class="text-center">اسم الشركة</th>
          <th class="text-center">هاتف الشركة</th>
          <th class="text-center">عنوان الشركة</th>
          <th class="text-center">اسم المسؤل</th>
          <th class="text-center">الوصف</th>
          <th class="text-center">الاجرائات</th>
        </tr>
      </thead>
      <tbody>
        <% for(var order in orders){ %>
        <%if(orders[order].orderStatus=='قيدالمراجعة'){%>
        <tr>
          <td>
            <%= orders[order].companyName %>
          </td>
          <td>
            <%= orders[order].companyPhone %>
          </td>
          <td>
            <%= orders[order].companyLocation %>
          </td>
          <td>
            <%= customer[`${orders[order].customerUID}`]['customerName']?
            customer[`${orders[order].customerUID}`]['customerName']:'' %>
          </td>
          <td>
            <%= orders[order].orderStatus%>
          </td>
          <td>
            <a href="/order/<%= order %>" class="btn btn-primary">عرض</a>
            <a href="/order/accept/<%= order %>" class="btn btn-primary"
              >قبول</a
            >
            <a href="/order/refuse/<%= order %>" class="btn btn-primary">رفض</a>

            <a href="/removeOrder/<%= order %>" class="btn btn-danger">مسح</a>
          </td>
        </tr>
        <%}else if (orders[order].orderStatus=='تم رفض الطلب'){%>
        <tr style="background-color:  rgba(255, 0, 0, 0.2)">
          <td>
            <%= orders[order].companyName %>
          </td>
          <td>
            <%= orders[order].companyPhone %>
          </td>
          <td>
            <%= orders[order].companyLocation %>
          </td>
          <td>
            <%= customer[`${orders[order].customerUID}`]['customerName']?
            customer[`${orders[order].customerUID}`]['customerName']:'' %>
          </td>
          <td>
            <%= orders[order].orderStatus%>
          </td>
          <td>
            <a href="/order/<%= order %>" class="btn btn-primary">عرض</a>
            <a href="/removeOrder/<%= order %>" class="btn btn-danger">مسح</a>
          </td>
        </tr>

        <%}else if (orders[order].orderStatus=='تم الدعم المطلوب'){%>
        <tr style="background-color:  rgba(114, 255, 95, 0.2)">
          <td>
            <%= orders[order].companyName %>
          </td>
          <td>
            <%= orders[order].companyPhone %>
          </td>
          <td>
            <%= orders[order].companyLocation %>
          </td>
          <td>
            <%= customer[`${orders[order].customerUID}`]['customerName']?
            customer[`${orders[order].customerUID}`]['customerName']:''%>
          </td>
          <td>
            <%= orders[order].orderStatus%>
          </td>
          <td>
            <a href="/order/<%= order %>" class="btn btn-primary">عرض</a>
            <a href="/removeOrder/<%= order %>" class="btn btn-danger">مسح</a>
          </td>
        </tr>
        <%}%> <%}%>
      </tbody>
    </table>
  </div>
</div>
