<div class="sidebar-container">
  <div   class="sidebar-logo">
    بوابة
  </div>
  <ul class="sidebar-navigation"  >
    <li>
      <a href="/orders"  >
        <i   aria-hidden="true"></i>  طلبات دعم جديدة
      </a>
    </li>
    <li>
      <a href="/Requests"   >
        <i   aria-hidden="true"></i> الطلبيات
      </a>
    </li>

    <li>
      <a   href="/contracts">
        <i   aria-hidden="true"></i> خطط الاشتراك
      </a>
    </li>
    <li>
      <a href="/salemen"  >
        <i   aria-hidden="true"></i> المندوبين
      </a>
    </li>
       <li>
            <a href="/customers"  >
                <i   aria-hidden="true"></i> العملاء
            </a>
        </li>


    <li>
      <a href="/supports"  >
        <i   aria-hidden="true"></i> خطط الدعم
      </a>
    </li>
    <li>
      <a href="/notifications">
        <i aria-hidden="true"></i>  الاشعارات
      </a>
    </li>
  </ul>
</div>


  <div class="content-container">
    <div class="container-fluid">
      <div class="jumbotron text-center">
        <h1>تعديل البائع</h1>
      </div>

      <form action="/editSaleman" method="POST" dir="rtl">
        <div class="form-group">
          <label> اسم البائع </label>
          <input type="text" name="name" class="form-control" value="<%=
          salemen["salesmanName"] %> " />
        </div>
        <div class="form-group">
          <label> بريد البائع </label>
          <input type="text" name="email" class="form-control" value="<%=
          salemen["salesmanEmail"] %> " />
        </div>
        <div class="form-group">
          <label> هاتف البائع </label>
          <input type="text" name="phone" class="form-control" value="<%=
          salemen["salesmanPhone"] %> " />
        </div>
        <div class="form-group">
          <label> الشركة </label>
          <input type="text" name="company" class="form-control" value="<%=
          salemen["salesmanCompany"] %> " />
        </div>
        <input type="hidden" name="saleman" value="<%= salemen["salesmanUID"]
        %>" />

        <div class="form-group">
          <input type="submit" value="تعديل" class="btn btn-primary btn-lg" />
        </div>
      </form>
    </div>
  </div>
</body>
